.footer
  position relative
  display grid
  display -ms-flexbox
  height 30px
  justify-content center
  -ms-grid-columns 1fr
  -ms-grid-row 3
  z-index 1
  background linear-gradient(-20deg, c_light-red 0%, c_orange 100%)
  background -webkit-linear-gradient(-20deg, c_light-red 0%, c_orange 100%)
  background -o-linear-gradient(-20deg, c_light-red 0%, c_orange 100%)
  border-radius 20px 20px 0 0
  align-items center
  text-align center
  -webkit-box-align center
  -ms-flex-align center
  color #ffffff