
w_lg = 1000px
w_md = 920px
w_sm = 790px
w_xl = 599px
w_xs = 320px
gutter = 20px
maxw = 1024px


c_light-red = #fc624d
c_red =  #d3330c
c_orange = #ffc000

c_crimson = #EC4B53
c_grey-dark = #828282
c_gray-light = #e3e3e3
c_dark= #000
c_timeline = linear-gradient(to right, #eee, #E4E4F5)

bg-cont = #e5e5f5

my_fonts = OpenSans
my_fonts_1 =  Montserrat
my_fonts_2 = Raleway


time_trans = 0.35s
time_trans-long = 0.6s


