.aside-left--wrapper
    .aside.aside-left
        .aside_close.aside_close--left X
        .aside_content.aside_content--left
            .h2.aside_content__title.aside_content__title--left ABOUT US
            a.aside_content__link(href='#') About Us
            a.aside_content__link(href='#') Team Videos
            a.aside_content__link(href='#') Company Culture
            a.aside_content__link(href='#') Jobs
            a.aside_content__link(href='#') Installation of the Month


