.aside-right--wrapper
    .aside.aside-right
        .aside_close.aside_close--right X
        .aside_content
            .h2.aside_content__title.aside_content__title--right Contact Us
            p.aside_content__tel Toll Free:
                a(href='tel::18004721142') (800) 472-1142
            p.aside_content__title-2 Physical Location:
            p.aside_content__loc 412 N. Mt. Shasta Blvd.
            p.aside_content__loc Mt. Shasta, CA 96067
            p.aside_content__loc Please make an appointment before stopping by.


