header.header
    a(href="#").header_logo
        img(src="images/logo.png").header_logo__img
    .header_nav.grid
        a.header_nav__item(href='#') Solar Panels
        a.header_nav__item(href='#') Off Grid Solar
        a.header_nav__item(href='#') Solar Information
        .header_nav__item.header_nav__item--aside-left About Us
        .header_nav__item.header_nav__item--aside-right Contact Us
    .mobile-nav-button
        .mobile-nav-button__line
        .mobile-nav-button__line
        .mobile-nav-button__line
    .mobile-menu
        ul
            li: a(href='#Lorem inspum1') Solar Panels
            li: a(href='#Lorem inspum2') Off Grid Solar
            li: a(href='#Lorem inspum3') Solar Information
            li: .header_nav__item--aside-left About Us
            li: .header_nav__item--aside-right Contact Us



