.main.grid
    include aside-left
    include aside-right
    .main_page-description.grid
        h1.h1.main_page-description__title Solar Panels
    .main_content
        h2.main_content__title-2 Which Panels Should You Choose?
        p.main_content__text.
            We offer many panel brands and prices, at different wattages, amps,
            volts, power tolerances, weights, and frame sizes.
        p.main_content__text.
            But before you scroll down for our complete list of panels,
            watch this video or check out the info below so you can narrow down
            the best option for your project.
        p.main_content__text Or, if you know what you're looking for click to shop our ful list of panels.
        a(href="#").main_content__btn.btn see all panels
        .services-gallery.grid
            a(href="").services-gallery_item.services-gallery_item--1
                span.services-gallery_item__text Benefit
            a(href="").services-gallery_item.services-gallery_item--2
                span.services-gallery_item__text Financing
            a(href="").services-gallery_item.services-gallery_item--3
                span.services-gallery_item__text Guide
            a(href="").services-gallery_item.services-gallery_item--4
                span.services-gallery_item__text Community
        p.main_content__text.
            There are certain specifications you should use when evaluating your solar battery options,
            such as how long the solar battery will last or how much power it can provide. Below, learn
            about all of the criteria that you should use to compare your home energy storage options,
            as well as the different types of solar batteries.
        .advantages
            .advantages_block
                .h2.advantages_block__text See solar prices near you.
                .advantages_block__btn-wrapper
                    a(href="#").advantages_block__btn.btn get started

        h3.main_content__title-3 Looking for a complete system?
        p.main_content__text.
            Solar panels are great, but they need to connect, either to batteries or the grid. You’ll get the
            best deal by purchasing a complete system with solar panels, racking, cable, inverter and everything
            else you need to start making power from the sun!


    .main_right
        .main_right__wrapper
            .right-form.grid
                p.right-form_text
                    | Solar questions?
                    br
                    |Please
                .h3.right-form_title Contact Us
                input.right-form_input.right-form_input--name(placeholder='name')
                input.right-form_input.right-form_input--email(placeholder='email')
                input.right-form_input.right-form_input--textarea(placeholder='message')
                .right-form_submit
                    a.right-form_submit__bnt.btn send




